<link rel="stylesheet" href="/public/css/cart1.css">
<div class="card mt-4">
    {{#each products}}

    <div class="row  align-items-center">
        <div class="col-2 ms-2"><img class="img-fluid" src="/product-image/{{this.product._id}}.jpg"></div>
        <div class="col">
            <div class="row text-muted">{{this.product.category}}</div>
            <div class="row">{{this.product.prodName}}</div>
        </div>

        <div class="col">
            <button class="cart-inc-btn ms-1"
                onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1) ">-</button>
            <span id="{{this.product._id}}">{{this.quantity}}</span>
            <button class="cart-inc-btn me-1"
                onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1) ">+</button>
        </div>

        <div class="col"><span class="close">&#10005;</span>
            <span> &#8377; {{this.product.price}} </span>

            <button class="btn btn-outline-danger ms-2" onclick="return confirm('Remove Item from Cart  ?')"
                ,"removeCartItem('{{this._id}}','{{this.product._id}}') " >Remove</button>
        </div>
    </div>
    {{/each}}
    <hr>
    <div class=" ms-auto me-4 mt-1 ">
        <p class=" fs-5">
                <h6>Total &nbsp;: &#8377; <span id="total">{{total}}</span></p>
                    <a href="/place-order" class="btn btn-outline-success ms-auto me-5 mb-4">Place Order</a>
        </div>
        <div class="back-to-shop ms-2"><a href="/"><i class="fa-solid fa-left-long"></i></a><span
                class="text-muted">Back to shop</span></div>

    </div>